@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,600&display=swap');

// Set your brand colors
$primary : #2f923f;
$primary-light: #EBD7D6;
$secondary : #F8F2F1;

// Update Bulma's global variables
$body-background-color: $secondary;
$family-sans-serif: 'Nunito',
  sans-serif;
$widescreen-enabled: true;
$fullhd-enabled: true;

// Update some of Bulma's component variables
$control-border-width: 1px;
$input-shadow: none;

$box-radius: 3px;
$box-padding: 1.5rem;
$navbar-height: 4rem;
$navbar-padding-vertical: 1.2rem;
$navbar-dropdown-background-color: $primary-light;

@import "~bulma/bulma.sass";

/**
Extensions
*/
@import "~@creativebulma/bulma-divider";
@import "bulma-calendar";
@import "~@creativebulma/bulma-tagsinput";
@import "~bulma-quickview";
@import "~bulma-checkradio";
@import "~bulma-list/sass/bulma-list.sass";
@import "~bulma-switch";
@import '~@creativebulma/bulma-collapsible';
@import '~bulma-pageloader';

/**
Tooltip
**/
$tooltip-background-opacity: 1;
@import "~@creativebulma/bulma-tooltip";

/**
Custom
**/
@import "custom.scss";

.tag {
  &.is-secondary {
    background-color: $secondary;
    color: $primary;
  }
}

.is-secondary,
.has-background-secondary {
  background-color: $secondary;
  color: $primary;
}

.has-text-secondary {
  color: $primary;
}

@media screen and (min-width: 1024px) {
  .navbar-dropdown {
    box-shadow: 0 3px 10px rgba(10, 10, 10, 0.25);
  }
}