/*
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
*/

/*
Custome styles
*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#trust-panel-container {
    position: relative;
}

#institute-logo {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 5px);
    z-index: 40;
    background: white;
    border-radius: 100%;
    width: 128px;
    height: 128px;
    padding: 0.4rem;
}

#notification-container {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
}

.is-position-relative {
    position: relative !important;
}

.is-borderless {
    border: none !important;
}

.is-normal-wrap {
    white-space: normal !important;
}

.is-margin-auto {
    margin: auto !important;
}

.is-rupee::before {
    content: '\20B9\0020';
}

a {
    &.is-link {
        border-bottom: 1px dotted;
    }
}

.modal {
    .is-modal-large {
        width: 75%;
    }

    .is-modal-medium {
        width: 60%;
        padding: 1em;
    }

    .modal-content {
        padding-top: 32px; // height of close icon
    }

    .modal-close {
        position: absolute;
        right: 0px;
        top: 0;
    }
}

.tags {
    &.are-tiny {
        .tag {
            font-size: 0.6em;
        }
    }

    &.are-marginless {
        margin-bottom: 0;

        .tag {
            margin-bottom: 0;
        }
    }
}

.is-lighten {
    filter: brightness(70%);
}

.is-darken {
    filter: brightness(50%);
}

.message {
    .message-body {
        &.has-border-top {
            border-width: 4px 0 0 0;
        }
    }
}


.is-grid {

    display: grid;
    gap: 5px;

    @for $i from 1 through 12 {
        &.is-#{$i} {
            grid-template-columns: repeat($i, 1fr);
        }
    }
}
